
<%- include partials/header.ejs %>

<%- include partials/main-nav.ejs %>

<div class="position-relative h-100 p-5 text-black bg-light rounded-3 ">
    <h1 class="text-center" style="text-decoration:underline;"><%= title %></h1>
    <p>Welcome to my Portfolio Website!</p>
    <p>Please click one of the items in the nav bar to continue</p>
</div>


<%- include partials/bottom-nav.ejs %>

<%- include partials/footer.ejs %>

