<%- include partials/header.ejs %>

<%- include partials/main-nav.ejs %>

<main class="container">
    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            <h1><%= title%></h1>
            <br>
            <table class="table table-bordered table-striped table-hover">
                <!--Header Row-->
                <tr class="d-flex">
                    <th class="text-center col-2">Name</th>
                    <th class="text-center col-2">Author</th>
                    <th class="text-center col-1">Published</th>
                    <th class="col-6">Description</th>
                    <th class="text-center col-1">Price</th>
                </tr>

                <!--Repeatable Temnplate Row-->
                <% for(let count = 0; count < BookList.length; count++) { %>
                    <tr class="d-flex">
                        <td class="text-center col-2"><%=BookList[count].name %></td>
                        <td class="text-center col-2"><%=BookList[count].author %></td>
                        <td class="text-center col-1"><%=BookList[count].published %></td>
                        <td class="col-6"><%=BookList[count].description %></td>
                        <td class="text-center col-1"><%=BookList[count].price %></td>
                    </tr>
                <%}%>
            </table>
        </div>
    </div>
</main>

<%- include partials/bottom-nav.ejs %>

<%- include partials/footer.ejs %>
